<nav class="navbar navbar-light fixed-top bg-light font-weight-bold">
  <ul class="navbar-nav col-1">
    <li><a [routerLink]="['/user', userId, 'website', websiteId, 'page']" class="nav-item nav-link"><i class="fas fa-chevron-left"></i></a></li>
  </ul>
  <div class="col-10">
    <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']" class="navbar-brand">
      Widgets
    </a>
  </div>
  <ul class="navbar-nav col-1">
    <li><a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']" class="nav-item nav-link"><i class="fas fa-plus"></i></a></li>
  </ul>
</nav>

<div class="container content">
  <div class="row">
    <div class="col-12">
      <div *ngFor="let widget of widgets">
       <div [ngSwitch]="widget.widgetType">
         <div class="justify-content-between align-items-center">
           <div *ngSwitchCase="'HEADING'">
             <div [ngSwitch]="widget.size">
               <div *ngSwitchCase="'2'">
                 <h2 class="d-inline-block mb-2">{{widget.text}}</h2>
                 <a class="badge d-inline-block justify-content-end float-right"
                    [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]" style="text-align: right;">
                   <i class="fas fa-cog text-primary"></i>  <i class="fas fa-bars text-dark"></i>
                 </a>
               </div>
               <div *ngSwitchCase="'4'">
                 <h4 class="d-inline-block mb-2">{{widget.text}}</h4>
                 <a class="badge d-inline-block justify-content-end float-right"
                    [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]" style="text-align: right;">
                   <i class="fas fa-cog text-primary"></i>  <i class="fas fa-bars text-dark"></i>
                 </a>
               </div>
             </div>
           </div>
           <div *ngSwitchCase="'YOUTUBE'">
             <iframe width="500" height="400" class="d-inline-block"
                     src="https://www.youtube.com/embed/OhlVBpEnjig">
             </iframe>
             <a class="badge d-inline-block justify-content-end float-right"
                [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]"
                style="text-align: right;">
               <i class="fas fa-cog text-primary"></i>  <i class="fas fa-bars text-dark"></i>
             </a>
           </div>
           <div *ngSwitchCase="'IMAGE'">
             <img src="{{widget.url}}" width="80%" class="d-inline-block"/>
             <a class="badge d-inline-block justify-content-end float-right"
                [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]"
                style="text-align: right;">
               <i class="fas fa-cog text-primary"></i>  <i class="fas fa-bars text-dark"></i>
             </a>
           </div>
           <div *ngSwitchCase="'HTML'">
             <span  class="d-inline-block" [innerHtml]="widget.text"></span>
             <a class="badge d-inline-block justify-content-end float-right"
                [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', widget._id]"
                style="text-align: right;">
               <i class="fas fa-cog text-primary"></i>  <i class="fas fa-bars text-dark"></i>
             </a>
           </div>

        </div>
      </div>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
</div>

<nav class="navbar bg-light fixed-bottom text-white">
  <div class="col-11 text-dark">
    <i class="fas fa-caret-right"></i>     <i class="fas fa-eye"></i>
  </div>
  <ul class="navbar-nav col-1">
    <li><a [routerLink]="['/user', userId]" class="nav-item nav-link text-dark"><i class="fas fa-user"></i></a></li>
  </ul>
</nav>
