<nav class="navbar navbar-dark bg-primary fixed-top text-white font-weight-bold">
  <ul class="navbar-nav col-1">
    <li><a [routerLink]="['/user',userId]" class="nav-item nav-link text-white"><i class="fas fa-chevron-left"></i></a></li>
  </ul>
  <div class="col-10">
    <a [routerLink]="['/user',userId,'website']" class="navbar-brand">
      Websites
    </a>
  </div>
  <ul class="navbar-nav col-1">
    <li><a [routerLink]="['/user',userId,'website','new']" class="nav-item nav-link text-white"><i class="fas fa-plus"></i></a></li>
  </ul>
</nav>

<div class="container content">
  <ul class="list-group text-primary">
    <div *ngFor="let website of websites">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a [routerLink]="['/user',userId, 'website', website._id, 'page']">{{website.name}}</a>
      <a [routerLink]="['/user',userId, 'website', website._id]" class="badge badge-pill"><i class="fas fa-cog"></i></a>
    </li>
    </div>
  </ul>
</div>
<nav class="navbar navbar-dark bg-primary fixed-bottom text-white">
  <div class="col-11">
  </div>
  <ul class="navbar-nav col-1">
    <li><a [routerLink]="['/user',userId]" class="nav-item nav-link text-white"><i class="fas fa-user"></i></a></li>
  </ul>
</nav>
