<nav class="navbar navbar-dark bg-primary fixed-top text-white font-weight-bold">
  <div class="col-11">
    <a class="navbar-brand">
      Profile
    </a>
  </div>
  <ul class="navbar-nav col-1">
    <li><a [routerLink]="['/user/:userId']" class="nav-item nav-link"><i class="fas fa-check"></i></a></li>
  </ul>
</nav>

<div class="container-fluid content">
  <label for="username">Username</label>
  <input [(ngModel)]="username"
         type="text"
         class="form-control"
         id="username"
         placeholder="alice"
  value={{username}}>
  <label for="first">First Name</label>
  <input [(ngModel)]="firstName"
         type="text"
         class="form-control"
         id="first"
         placeholder="Alice">
  <label for="last">Last Name</label>
  <input [(ngModel)]="lastName"
         type="text"
         class="form-control"
         id="last"
         placeholder="Wonder">
  <button [routerLink]="['/user/:userId/website']"
     class="btn btn-primary btn-block"
     type="button">Website
  </button>
  <button [routerLink]="['/login']"
          class="btn btn-danger btn-block"
          type="button">Logout</button>
</div>
<nav class="navbar navbar-dark bg-primary fixed-bottom text-white">
  <div class="col-11">
  </div>
  <ul class="navbar-nav col-1">
    <li><a [routerLink]="['/user/:userId']" class="nav-item nav-link"><i class="fas fa-user"></i></a></li>
  </ul>
</nav>
