<div class="row">
  <nav class="navbar navbar-dark bg-primary fixed-top text-white font-weight-bold sm">
    <ul class="navbar-nav col-lg-1 col-xs-1">
      <li><a [routerLink]="['/user',userId]" class="nav-item nav-link text-white"><i class="fas fa-chevron-left"></i></a></li>
    </ul>
    <div class="col-lg-2 col-xs-0 d-none d-md-block">
      <a [routerLink]="['/user',userId,'website']" class="navbar-brand">
        Websites
      </a>
    </div>
    <ul class="navbar-nav col-xs-0 col-lg-1 d-none d-md-block">
      <li><a [routerLink]="['/user',userId,'website','new']" class="nav-item nav-link text-white"><i class="fas fa-plus"></i></a></li>
    </ul>
    <div class="col-lg-7 col-xs-6">
        <span class="navbar-brand">
          Edit Websites
        </span>
    </div>
    <ul class="navbar-nav col-lg-1 col-xs-1">
      <li><a (click)="updateWebsite()"
             class="nav-item nav-link text-white">
        <i class="fas fa-check"></i></a></li>
    </ul>
  </nav>

  <div class="col-lg-4 col-sm-0 d-none d-md-block">
    <div class="container content">
      <ul class="list-group text-primary">
        <div *ngFor="let website of websites">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a [routerLink]="['/user',userId, 'website', website._id, 'page']">{{website.name}}</a>
            <a [routerLink]="['/user',userId, 'website', website._id]" class="badge badge-pill"><i class="fas fa-cog"></i></a>
          </li>
        </div>
      </ul>
    </div>
  </div>

  <div class="col-lg-8 col-sm-12">
    <div class="container content">
      <form #f="ngForm">
        <label for="name">Name</label>
        <input [(ngModel)]="name"
               name="name"
               class="form-control"
               id="name"
               placeholder="Name"
               type="text"
               value="{{name}}"/>

        <label for="desc">Description</label>
        <div>
          <textarea [(ngModel)]="description"
                    class="form-control"
                    rows="5"
                    cols="50"
                    id="desc"
                    name="description">{{description}}</textarea>
        </div>
        <br>
        <button (click)="deleteWebsite()"
                class="btn btn-danger btn-block"
                type="button">Delete</button>
        <button [routerLink]="['/user',userId,'website']"
                class="btn btn-success btn-block"
                type="button">Cancel</button>
      </form>
    </div>
  </div>

  <nav class="navbar navbar-dark bg-primary fixed-bottom text-white">
    <div class="col-11">
    </div>
    <ul class="navbar-nav col-1">
      <li><a [routerLink]="['/user',userId]" class="nav-item nav-link"><i class="fas fa-user"></i></a></li>
    </ul>
  </nav>
</div>
