<nav class="navbar navbar-light fixed-top bg-light font-weight-bold">
  <ul class="navbar-nav col-1">
    <li><a class="nav-item nav-link" href="widget-list.html"><i class="fas fa-chevron-left"></i></a></li>
  </ul>
  <div class="col-10">
    <a href="widget-list.html" class="navbar-brand">
      Widget Edit
    </a>
  </div>
  <ul class="navbar-nav col-1">
    <li><a class="nav-item nav-link" href="widget-list.html"><i class="fas fa-check"></i></a></li>
  </ul>
</nav>

<div class="container content">
  <label for="name">Name </label>
  <input class="form-control" id="name" type="text"/>
  <label for="text">Text</label>
  <input class="form-control" id="text" type="text"/>
  <label for="url">URL</label>
  <input class="form-control" id="url" placeholder="https://www.youtube.com/embed/bCc16uozHVE" type="text"/>
  <label for="width">Width</label>
  <input class="form-control" id="width" type="text"/>


  <p></p>
  <a href="widget-list.html" class="btn btn-danger btn-block">Delete</a>
</div>
<br>
<br>
<p></p>
<p></p>
<nav class="navbar bg-light fixed-bottom text-white">
  <div class="col-11">
  </div>
  <ul class="navbar-nav col-1">
    <li><a class="nav-item nav-link" href="../user/profile.html"><i class="fas fa-user"></i></a></li>
  </ul>
</nav>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
