<div class="container-fluid">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>{{title}}</h1>
  <form (ngSubmit) = "register()" #f="ngForm">
    <input placeholder="Username" name="username" type="text"
           class="form-control" ngModel required #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

    <input placeholder="Password" name="password" type="password"
           class="form-control" ngModel required #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>

    <input placeholder="Verify Password" name="validpassword" type="password"
           class="form-control" ngModel required #validpassword="ngModel"/>
    <span class="help-block" *ngIf="!validpassword.valid && validpassword.touched">
      Please enter password again!
    </span>

    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid"> Register </button>
    <button [routerLink]="['/login']" class="btn btn-danger btn-block" type="button"> Cancel </button>
  </form>
</div>
<br>
<br>
<p></p>
